@font-face {
    font-family: Quando-Regular;
    src: url(../fonts/Quando-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family:NimbusSansL-Regular;
    src: url(../fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family:NimbusSansL-Bold;
    src: url(../fonts/NimbusSanL-Bol.otf);
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #0A2463;
    transition: background-color 0.3s ease;
}

header.transparent {
    background-color: transparent;
}

nav {
    margin: 24px 68px 24px 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

a.header__link {
    text-decoration: none;
    font-family: NimbusSansL-Regular;
    font-size: 24px;
    color: white;
    line-height: 28px;
}

a.header__link:nth-child(1) {
    margin-right: 88px;
}

a.header__link:nth-child(2) {
    margin-right: 88px; 
}

hr {
    border: 0;
    border-top-width: 4px;
    border-top-style: solid;
    margin: 0;
    color: white;
    margin: 76px 0 0 0;
}

section.section__haut {
    overflow: hidden;
    background-color: #0A2463;
    height: 1024px;
}

div.title__container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* div.title__container img {
    margin: 40px 0 40px 0;
} */

section.section__a-propos {
    background-color: white;
    height: 1024px;
}

div.a-propos__title {
    padding: 80px 0 0 180px;
}

section.section__projets {
    background-color: yellow;
    height: 1024px;
}

section.section__contact {
    background-color: green;
    height: 1024px;
}