@font-face {
    font-family: Quando-Regular;
    src: url(../fonts/Quando-Regular.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family:NimbusSansL-Regular;
    src: url(../fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family:NimbusSansL-Bold;
    src: url(../fonts/NimbusSanL-Bol.otf);
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #0A2463;
    transition: background-color 0.3s ease;
}

header.transparent {
    background-color: transparent;
}

nav {
    margin: 14px 68px 14px 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

a.header__link {
    text-decoration: none;
    font-family: NimbusSansL-Regular;
    font-size: 24px;
    color: white;
    line-height: 28px;
}

a.header__link:nth-child(1) {
    margin-right: 88px;
}

a.header__link:nth-child(2) {
    margin-right: 88px; 
}

b {
    font-weight: 700;
    line-height: 31px;
}

hr {
    border: 0;
    border-top-width: 4px;
    border-top-style: solid;
    margin: 0;
    color: white;
    margin: 56px 0 0 0;
}

section.section__haut {
    overflow: hidden;
    background-color: #0A2463;
    height: 1024px;
}

div.title__container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section.section__a-propos {
    background-color: white;
    height: 1024px;
}

.section__a-propos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.content__container {
    display: flex;
}

.colomn__container {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
}

.column-right {
    display: flex;
    flex-direction: column;
}

.column-right .illustration:first-child {
    margin-bottom: 20px;
}

.column-left {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.texte-ombre {
    font-family: NimbusSansL-Regular;
    font-size: 26px;
    line-height: 31px;
    max-width: 376px;
    min-width: 376px;}

.texte-ombre:nth-child(1),
.texte-ombre:nth-child(2) {
    margin-bottom: 20px;
}

.rectangle {
    margin: 40px 0 0 0;
    width: 464px;
    height: 16px;
    background-color: #0A2463;
}

.rectangle2 {
    margin: 0 0 0 0;
    width: 16px;
    height: 780px;
    background-color: #0A2463;
}

.rectangle3 {
    margin: 274px 0 0 0;
    width: 16px;
    height: 506px;
    background-color: #0A2463;
}

div.a-propos__title {
    padding: 120px 456px 0 0;
}

section.section__projets {
    background-color: black;
    height: 1024px;
}

.projets__title {
    padding: 120px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.section__contact {
    background-color: white;
    height: 1024px;
}