@font-face {
    font-family: RobotoMono;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family:NimbusSansL-Regular;
    src: url(../fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family:NimbusSansL-Bold;
    src: url(../fonts/NimbusSanL-Bol.otf);
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #0A2463;
    transition: background-color 0.3s ease;
}

header.transparent {
    background-color: transparent;
}

nav {
    margin: 14px 68px 14px 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

a.header__link {
    text-decoration: none;
    font-family: NimbusSansL-Regular;
    font-size: 24px;
    color: white;
    line-height: 28px;
}

a.header__link:nth-child(1) {
    margin-right: 88px;
}

a.header__link:nth-child(2) {
    margin-right: 88px; 
}

b {
    font-weight: 700;
    line-height: 31px;
}

hr {
    border: 0;
    border-top-width: 4px;
    border-top-style: solid;
    margin: 0;
    color: white;
    margin: 56px 0 0 0;
}

li {
    font-family: RobotoMono;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #898989;
}

span {
    color: #0CF25D;
    font-family: RobotoMono;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

section.section__haut {
    overflow: hidden;
    background-color: #0A2463;
    height: 1024px;
}

div.title__container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projets__title {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.section__a-propos {
    background-color: white;
    height: 1024px;
}

.section__a-propos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.content__container {
    display: flex;
}

.colomn__container {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
}

.column-right {
    display: flex;
    flex-direction: column;
}

.column-right .illustration:first-child {
    margin-bottom: 20px;
}

.column-left {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.texte-ombre {
    font-family: NimbusSansL-Regular;
    font-size: 26px;
    line-height: 31px;
    max-width: 376px;
    min-width: 376px;}

.texte-ombre:nth-child(1),
.texte-ombre:nth-child(2) {
    margin-bottom: 20px;
}

.rectangle {
    margin: 40px 0 0 0;
    width: 464px;
    height: 16px;
    background-color: #0A2463;
}

.rectangle2 {
    margin: 0 0 0 0;
    width: 16px;
    height: 800px;
    background-color: #0A2463;
}

.rectangle3 {
    margin: 274px 0 0 0;
    width: 16px;
    height: 526px;
    background-color: #0A2463;
}

div.a-propos__title {
    padding: 100px 456px 0 0;
}

section.section__projets {
    background-color: black;
    height: 1024px;
    overflow: hidden;
}

.content__container__projets {
    display: flex;
}

.number {
    margin: 40px 0 0 68px;
}

.content__projets {
    margin: 40px 68px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.projets {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.title__arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title__arrow:hover span {
    color: #2B92DC;
}

.title__arrow:hover span.bracket__title {
    color: white;
}

.title__arrow > :first-child {
    margin-right: 20px;
}

.sites {
    margin: 0 0 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.name__projets {
    color: white;
    margin: 0 0 0 160px;
}

.name__projets:hover span.hover__name__projets {
    color: #2B92DC;
}

.hover__name__projets {
    color: white;
}

.bracket__title {
    color: white;
}

.bracket {
    margin: 0 0 0 34px;
    color: white;
}

.color__text__decoration {
    color: #444444;
}

section.section__contact {
    background-color: white;
    height: 1024px;
}

.section__contact__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 40px;
}

.column__contact {
    margin: 40px 40px 0 40px;
}

.column__contact :not(.link__a):nth-child(-n+2) {
    margin-bottom: 10px;
}

.column__contact :nth-child(4) {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact__content {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.contact__content :not(.link__a):first-child {
    margin-right: 20px;
}

.text__contact {
    font-family: NimbusSansL-Regular;
    font-size: 26px;
    line-height: 31px;
    color: black;
}

.rectangle4 {
    margin: 0 0 0 0;
    width: 16px;
    height: 655px;
    background-color: #0A2463;
}

.rectangle5 {
    margin: 0 0 0 0;
    width: 16px;
    height: 526px;
    background-color: #0A2463;
}

.rectangle6 {
    margin: 0 0 0 -56px;
    width: 83px;
    height: 16px;
    background-color: #0A2463;
}

.link__a {
    display: flex;
    align-items: center;
}